<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">
    <meta name="description" content="La Fotografia Digitale">
    <meta name="author" content="Rostagno_Leonardo &amp; Giraudo_Federico">

    <link rel="stylesheet" href="Comandi%20Alphabot_files/bootstrap.css">

    <!-- Script integrati -->
    <script src="Comandi%20Alphabot_files/popper.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous">
    </script>
    <script src="Comandi%20Alphabot_files/bootstrap.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous">
    </script>

    <title>Comandi Alphabot</title>


    <style>
        #intestazione {
            text-align: center;
        }
        
        .pulsantone {
            background-color: rgb(85, 179, 241);
            margin: 0.5cm;
            padding: 1cm;
        }
        
        .stop {
            display: block;
            height: 160px;
            width: 200px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-center" href="#">
                <img src="Comandi%20Alphabot_files/alphabot_1.jpeg" alt="" class="d-inline-block align-text-top" width="60" height="48"> Comandi Alphabot
            </a>
        </div>
    </nav>

    <form action="/" method="post">

        <div id="intestazione">
            <input class="pulsantone" type="submit" value="avanti" name="avanti">
        </div>
        <div id="intestazione">
            <input class="pulsantone" type="submit" value="sinistra" name="sinistra">
            <img src="Comandi%20Alphabot_files/alphabot.jpeg" alt="" class="d-inline-block align-text-top">
            <input class="pulsantone" type="submit" value="destra" name="destra">
        </div>
        <div id="intestazione">
            <input class="pulsantone" type="submit" value="indietro" name="indietro">
        </div>
        <div id="intestazione">
            <input class="stop" type="image" src="Comandi%20Alphabot_files/stop.jpg" value="stop" name="stop">
        </div>
    </form>


</body></html>